.skill-swiper-logo {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;}
.skill-swiper-div{
    margin: 50px auto 100px;
    /* justify-content: center; */
    padding: 0px 100px;
}

@media screen and (max-width:768px) {
  .skill-swiper-logo {
    width: 50px;
    height: 50px;
  }
  .skill-swiper-div{
    margin: 20px auto 40px;
    padding: 0px 20px;
}
}