.skill-swiper-logo {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.skill-swiper-div{
    /* margin: 50px auto 100px; */
    margin-top: 60px;
    margin-bottom: 60px;
    /* width: 100%; */
    /* justify-content: center; */
    padding:  16px;
    overflow-x: hidden;
}

@media screen and (max-width:768px) {
  .skill-swiper-logo {
    width: 60px;
    height:60px;
  }
  .skill-swiper-div{
    margin: 20px auto 40px;
    padding: 0px 20px;
}
}