.video-div {
  max-width: 500px;
}
.prj-hr-line {
  border-radius: 5px;
  /* width: 100%; */
  max-width: 600px;
  border: 1px solid #063b73;
  margin: 0px auto 32px;

}
@media screen and (max-width: 865px) {
  .video-div{
    max-width: 350px;
    width: 100%;
  }
}
