.intro-cp-div,.about-me-div, .projects-div, .contact-me-div  {
  background-color: #e9eeee;
  padding: 90px 100px 0px 100px;
  }
.intro-content-div {
  padding: 125px 62px 125px 62px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  /* height: 90vh; */
}
.intro-ct-title-div{
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: auto;
}
.intro-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: Blorado, sans-serif;
  font-size: 40px;
  transition: transform 0.3s ease;
  line-height: normal;
  max-width: 650px;
  margin: 0;
}
.intro-title:hover {
  /* transform: scale(1.03); */
  font-size: 41px;
  line-height: normal;
  color: #121829;
}
.intro-sub-title {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  color: #063b73;
}
.intr-con-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.intr-con-icon:hover {
  transform: scale(1.3);
}
.intr-ct-con-div {
  display: flex;
  gap: 16px;
  align-items: center;
}
.intr-dev-to-logo {
  width: 25px;
  height: 25px;
}
.intr-ct-descri-div {
  display: flex;
  gap: 16px;
  margin: 0;
  flex-direction: column;
  color: #545454;
}
.intr-ct-descri {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.intr-about-me-icon {
  margin-left: 16px;
  animation-name: slide;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; 
  cursor: pointer;
  /* animation: 3s ease-in 3s 2 forwards both paused slidein; */
}
